<!DOCTYPE html>
<html>
    <head>
    <title>Kamen, nůžky, papír</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/custom.css">
     
    </head>
<body>

<h1 class="nadpis">Kámen nůžky papír</h1>

<div class="">
    <h2 class="Menu"><img src="/static/pics/Hráč.jpg" width="100px">: {{ hrac }}</h1>
    <h3 class="Menu"><img src="/static/pics/Počítač.jpg" width="100px">: {{ pocitac }}</h1>
    <h4 class="Vyber">{{vyhra}}</h1>

<div><a href="/"> hodit znovu</a></div>
</div>

</body>
</html>