<!DOCTYPE html>
<html>
    <head>
     <title>Kamen, nůžky, papír - vyber</title>    
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/custom.css">

    </head>
<body>

<h1 class="nadpis">Veber si kámen, nůžky nebo papír</h1>

<center>
<div class="Menu">
    <div class="vyber">
        <a href="/kamen"> <img src="/static/pics/kamen.jpg" width="100px"></a>
        <a href="/nuzky"> <img src="/static/pics/nuzky.jpg" width="100px"> </a>
        <a href="/papir"> <img src="/static/pics/papir.jpg" width="100px"> </a>
    </div>
</div>
</center>
</body>
</html>